<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Структура схемы</mat-card-title>
  </mat-card-title-group>
  <br>
  <mat-card-content>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item {{last == true ? 'active' : ''}}"
            *ngFor="let el of history; let i = index; let first = first ;let last = last;">
          <a style="cursor: pointer;" *ngIf="last == false" (click)="openHistory(el)">{{el.name}}</a>
          <span *ngIf="last == true">{{el.name}}</span>
        </li>
      </ol>
    </nav>

    <app-rec [item]="history[history.length-1]"></app-rec>
  </mat-card-content>
</mat-card>
<br>

<div class="row">
  <div class="col col-4">
    <div class="card border-0">
      <div class="card-body w-100" style="overflow: hidden;">
        <h3 class="card-title">
          Схема
          <button mat-icon-button matTooltip="Скопировать в буфер" ngxClipboard [cbContent]="xsd" matTooltipPosition="right">
            <mat-icon [inline]="true">filter_none</mat-icon>
          </button>
        </h3>
        <pre class="w-100" *ngIf="prepare()" [highlight]="xsd" [lineNumbers]="false"></pre>
      </div>
    </div>
  </div>
  <div class="col col-4">
    <div class="card border-0">
      <div class="card-body w-100">
        <h3 class="card-title">Данные</h3>

      </div>
    </div>
  </div>
  <div class="col col-4">
    <div class="card border-0">
      <div class="card-body w-100">
        <h3 class="card-title">Проверка</h3>

      </div>
    </div>
  </div>
</div>




