<table class="table">
  <thead>
  <tr>
    <th scope="col">Свойства</th>
    <th scope="col">Содержимое</th>
    <th scope="col">Атрибуты</th>
  </tr>
  </thead>
  <tbody class="border-0">
  <tr>
    <td scope="row" width="33%" class="border-0">
      <app-element-property [item]="item"></app-element-property>
    </td>
    <td width="33%" class="border-0">
      <app-element-content [item]="item"></app-element-content>
    </td>
    <td width="33%" class="border-0">
      <app-element-attribute [item]="item"></app-element-attribute>
    </td>
  </tr>
  </tbody>
</table>
