<div class="{{show ? 'show': 'collapse rounded-2 p-2 bg-light'}}" id="s{{item.guid}}">
  <mat-form-field class="w-100">
    <mat-label>Тип данных</mat-label>
    <mat-select [(ngModel)]="item.selectedSimpleType">
      <mat-option *ngFor="let t of item.availableSimpleType" [value]="t.id">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="w-100">
    <mat-label>Дополнительные условия</mat-label>
    <mat-select [(ngModel)]="item.selectedExtraSimpleType">
      <mat-option *ngFor="let t of item.availableExtraSimpleType" [value]="t.id">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <div *ngIf="item.selectedExtraSimpleType == 1">
    <div *ngFor="let ex of item.listExtension">
      <mat-form-field class="w-50">
        <mat-label>Условие</mat-label>
        <mat-select [(ngModel)]="ex.id">
          <mat-option *ngFor="let t of item.availableExtensionType" [value]="t.id">
            {{t.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Значение</mat-label>
        <input matInput placeholder="name" [(ngModel)]="ex.value">
        <button mat-icon-button matSuffix (click)="item.removeExtension(ex)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-icon-button matTooltip="Добавить условие" matTooltipPosition="right" (click)="item.addExtension()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>
