<div class="{{show ? 'show': 'collapse rounded-2 p-2 bg-light'}}" id="s{{item.guid}}">
  <mat-form-field class="w-100">
    <mat-label>Тип данных</mat-label>
    <mat-select [(ngModel)]="item.selectedSimpleType">
      <mat-option *ngFor="let t of service.availableSimpleType" [value]="t.id">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="w-100">
    <mat-label>Дополнительные условия</mat-label>
    <mat-select [(ngModel)]="item.selectedExtraSimpleType">
      <mat-option *ngFor="let t of availableExtraSimpleType" [value]="t.id">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <div *ngIf="item.selectedExtraSimpleType == 1">
    <div *ngFor="let ex of item.listExtension">
      <table>
        <tr>
          <td width="48%">
            <mat-form-field class="w-100">
              <mat-label>Условие</mat-label>
              <mat-select [(ngModel)]="ex.id">
                <mat-option *ngFor="let t of service.availableExtensionType" [value]="t.id">
                  {{t.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td width="48%">
            <mat-form-field class="w-100">
              <mat-label>Значение</mat-label>
              <input matInput placeholder="name" [(ngModel)]="ex.value">
            </mat-form-field>
          </td>
          <td width="4%">
            <button mat-icon-button (click)="removeExtension(ex)" matTooltip="Удалить условие" matTooltipPosition="right">
              <mat-icon [inline]="true">remove_circle_outline</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <button mat-icon-button matTooltip="Добавить условие" matTooltipPosition="right" (click)="addExtension(item.listExtension)">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>
