<div *ngIf="item.typeElement == 2">
  <div *ngFor="let el of item.listElement">
    <mat-form-field class="example-full-width w-50">
      <mat-label>Имя узла</mat-label>
      <input matInput placeholder="name" [(ngModel)]="el.name">
    </mat-form-field>

    <mat-form-field class="example-full-width w-25">
      <mat-label>Минимум</mat-label>
      <input matInput placeholder="name" [(ngModel)]="el.min">
    </mat-form-field>

    <mat-form-field class="example-full-width w-25">
      <mat-label>Максимум</mat-label>
      <input matInput placeholder="name" [(ngModel)]="el.max">

      <button mat-icon-button matSuffix (click)="openElement(el)">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="removeChildElement(el)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </mat-form-field>
    <br>
  </div>

  <button mat-icon-button matTooltip="Добавить элемент" matTooltipPosition="right" (click)="addElement()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<div *ngIf="item.typeElement == 1">
  <app-extension [item]="item" [show]="true"></app-extension>
</div>
