<div *ngIf="item.typeElement == 2">
  <div *ngFor="let el of item.listElement">
    <table>
      <tr>
        <td width="98%">
          <mat-form-field class="example-full-width w-100">
            <mat-label>Имя узла</mat-label>
            <input matInput placeholder="name" [(ngModel)]="el.name">
          </mat-form-field>
        </td>
        <td width="1%">
          <button mat-icon-button matSuffix (click)="openElement(el)" matTooltip="настроить дочерний элемент">
            <mat-icon [inline]="true">settings</mat-icon>
          </button>
        </td>
        <td width="1%">
          <button mat-icon-button matSuffix (click)="removeChildElement(el)" matTooltip="Удалить дочерний элемент">
            <mat-icon [inline]="true">remove_circle_outline</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <button mat-icon-button matTooltip="Добавить элемент" matTooltipPosition="right" (click)="addElement()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<div *ngIf="item.typeElement == 1">
  <app-extension [item]="item" [show]="true"></app-extension>
</div>
